

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(65, 75, 78);
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.card{
    position: relative;
    
}
.card-data{
    background-color:white;
    padding: 10px;
    width: 340px;
    height: 200px;
    position: absolute;
    bottom: 3;
    left: 0;
    animation: back 1s;
    
    border-radius: 10px;
    border-top: 5px solid black;
    
    
}

.card-img {
    width: 340px;
    height: 200px;
    border-radius: 10px;
    border: 10px solid #0047AB;
    box-shadow: 0px 1px 10px;
    
    animation: back1 1s forwards;

}


.card:hover  .card-img{
        animation: move1 1s forwards;
}

.card:hover .card-data{
    animation: move 1s forwards;
}





.card-desc{
    font-size: small;
}

.card-title{
    font-size: x-large;
}

.card-link{
    padding: 7px ;
    background: #000;
    text-decoration: none;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
    
}

@keyframes move {
    from{
        transform: translateY(0);
        
    }
    to{
        transform: translateY(95px);
        
    }
}
@keyframes move1 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-110px);
    }
}
@keyframes back {
    from{
        
        transform: translateY(95px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes back1 {
    from{
        
        transform: translateY(-110px);
    }
    to{
        transform: translateY(0);
    }
}