.card-1 {
    position: relative;
    width: 100%;


}

.page-title{
    color: white;
    font-size: 125px;
    
}

.title-p{
    text-align: center;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 10px;
}

.btn-card {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: black;
    border: none;
}

.card-1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 28%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 68%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



@media screen and (max-width:700px) {
    .projects {
       
        grid-template-columns: auto;
      
       justify-items: center;
    }
}