*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url('43.jpg');
    padding: 0;
    margin: 0;
}

input{
    padding: 10px;
    display: block;
    width: 40vw;
    margin: auto;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    margin-bottom: 20px;
    font:bold;
}

h1{
    color: white;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 10px;

}

.form{
    margin: 40px;
    text-align: center;
   
}

button{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}

.main{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    width: max-content;
    margin: auto;
    display: none;
}




@media screen and (max-width:768px){
    input{
        display: inline;
        width: auto ;
    }

    .form{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

}