.home{
    height: 100vw;
}

.mra{
    margin-right: auto;
}

.mla{
    margin-left: auto;
}
.cw{
    width: max-content;
}

.lsn{
    list-style-type: none;
}

.skills-list{
    display: grid;
    grid-template-columns: auto auto auto;
}

#contact{
    height: ;
}

.project-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
.project-grid div{
    background-color: 	 	#0056f6
}

.button-blue{
   background-color:  #0056f6
}

.ed-list{
    border: 4px solid #0056f6;
    border-radius: 10px;
}

@media only screen  and (max-width:600px) {
    .skills-list{
        grid-template-columns: auto auto;
    }
    .project-grid{
        grid-template-columns: auto;
        
    }
    
}